<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Test Suite">
      <directory suffix=".php">tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whilelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/</directory>
      <exclude>
        <directory suffix=".php">./vendor/</directory>
      </exclude>
    </whilelist>
    <blacklist>
      <directory suffix=".php">*Test</directory>
    </blacklist>
  </filter>

  <logging>
    <log type="testdox-text" target="tests/_reports/testdox.txt"/>
    <log type="testdox-html" target="tests/_reports/testdox.html"/>
    <log type="coverage-html" target="tests/_reports/coverage" 
    charset="UTF-8" yui="true" highlight="true" lowUpperBound="45" highLowerBound="85"/>
  </logging>

</phpunit>